@media screen and (max-width: 1024px) {
    a {
        max-width: 50%; /*tamanho maximo das bordas dos botoes*/
    }

    a:focus {
        outline: none;
        box-shadow: none;
    }

    .icon{
        display: none;
    }
}
  